@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab', serif;
}
body{
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 25px;
    line-height: 34px;
    color: black;
}

p{
    font-size: 18px;
    line-height: 64px;
    color: #465b52;
   
}

#header{
    display: flex;
    align-items: center; /*Align itens inside the box. good for picture*/ 
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6f3;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li{
    list-style: none; /* Removes bullets */ 
    padding: 0px 20px; /*Added space in between*/ 
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}